<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>Cool Messages</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/satellizer/satellizer.min.js"></script>

  <script src="client/js/app.js"></script>
  <script src="client/js/controllers/home.js"></script>
  <script src="client/js/controllers/login.js"></script>
  <script src="client/js/controllers/nav.js"></script>
  <script src="client/js/controllers/user.js"></script>

  <script src="client/js/services/UserService.js"></script>

</head>
<body>
  <h1>Cool Messages, Bro</h1>

  <div class="nav" ng-controller="navCtrl">
    <div ng-if="!isAuthenticated()">
      <button ui-sref="home">Home</button>
      <button ui-sref="login">Login</button>
    </div>
    <div ng-if="isAuthenticated()">
      <button ui-sref="user">My Page</button>
      <button ng-click="logout()">Logout</button>
    </div>
  </div>

  <div ui-view></div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
